<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="测试套件" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="com.kingsoft.day04.listener.TestFailListener"/>
<!--        <listener class-name="com.kingsoft.day04.listener.TestFailRetryListener"/>-->
    </listeners>
    <test name="android真机">
        <parameter name="udid" value="5ENDU19929018513"/>
        <parameter name="appium_ip" value="192.168.3.21"/>
        <parameter name="appium_port" value="4725"/>
        <parameter name="uiautomator2_port" value="8202"/>
        <classes>
            <class name="com.kingsoft.day04.testcases.LoginTest"/>
        </classes>
    </test>
</suite>